* {
  word-break: break-word;
}
.home-topbox {
  background: #555;
  padding: 1rem;
  font-size: 1.5rem;
}
.navbar {
  background: #181818;
}
.navbar-tabs {
  font-weight: 500;
  text-transform: uppercase;
}

.gen-page {
  background: #292929;
  min-height: 100%;
}
.player-nameplate {
  display: inline-block;
  padding: 0.25rem 0.6rem;
  margin: 0.3rem 0.4rem;
  background: #181818;
  color: white;
  border-top: 4px var(--accent) solid;
  border-radius: 6px;
  font-size: 1.4rem;
}
.leaguelogos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.leaguelogos img {
  margin: 10px 10px;
  width: 65%;
}
a {
  text-decoration: none !important;
}
.header {
  text-transform: uppercase;
  font-weight: 900;
}
.tag {
  display: inline-block;
  padding: 0.15rem 0.6rem;
  margin: 0.3rem 0.4rem;
  background: #181818;
  color: white;
  border-top: 4px var(--accent) solid;
  border-radius: 6px;
  font-size: 1.2rem;
}
@media only screen and (max-width: 1000px) {
  .leaguelogos img {
    margin: 5px 5px;
    width: 100%;
  }
}
