.team-nameplate {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  border-radius: 5px;
  height: 100px;
  width: 100%;
  /* width: 200px !important; */

  overflow: hidden;
  /* margin: 0.3rem; */
}
.team-nameplate-name {
  padding: 0.1rem;
  line-height: 2ch;
  height: fit-content;
  border-radius: 10px 10px 0 0;
  text-align: center;
  font-size: 0.9em;
  color: white;
}

.team-nameplate-img {
  position: relative;
  /* width: 70px; */
  height: 65px;
}

.teambar {
  font-family: 'Roboto Condensed';
  display: flex;
  /* justify-content: center; */
  align-items: center;
  text-transform: uppercase;
  line-height: 12ch;
}
.teambar img {
  height: 250px;
}
.teambar-h1 {
  font-size: 6vw;
  font-weight: 900;
}
.teambar-h2 {
  font-size: 1.5rem;
  text-align: center;
  /* text-transform: ; */
  /* margin: 0 0.5rem; */
  /* font-size: 3rem; */
}
.teambar-header {
  margin-left: 4rem;

  margin-top: 8rem;
  text-align: left;
}
@media only screen and (max-width: 787px) {
  .teambar {
    display: block;
    line-height: normal;
  }
  .teambar-imgwrapper {
    display: flex;
    justify-content: center;
  }
  .teambar-header {
    margin-left: 0;
    margin-top: 3rem;
    text-align: left;
  }
  .teambar-h1 {
    display: flex;
    justify-content: center;
    font-size: 10vw;
  }
  .teambar-h2 {
    font-size: 4vw;
  }
  .team-section-selector button {
    font-size: 4vw !important;
  }
}
.teambottombar {
  display: flex;
  justify-content: left;
  margin-bottom: 1rem;
}
.team-section-selector {
  text-align: center;
  width: 100%;
}
.team-section-selector button {
  display: inline;
  font-size: 1.6vw;
  background: #181818;
  width: 100%;
  color: white;
  text-transform: uppercase;

  border: 0;
}
.team-section-selector button:hover {
  color: var(--accent);
}
@media only screen and (max-width: 1500px) {
  .team-section-selector button {
    font-size: 2.4vw;
  }
}
.team-plate-small {
  display: inline-block !important;
  background: #181818;
  padding: 0.5rem 1rem;
  margin: 10px 5px;
  border-radius: 5px;
  color: white;
}
.team-plate-small img {
  width: 30px;
}
